
@{
    ViewData["Title"] = "CheckPaciente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Verificar Paciente</h1>
</div>

<div class="card">
    <div class="card-header">
        Historial Familiar
    </div>
    <div class="card-body">
        <form asp-action="Paciente" asp-controller="Home" method="get">
            <div class="mb-2">
                <label class="form-label">Ingresar Identificacion del Paciente</label>
                <input type="text" class="form-control form-control-sm" required name="Identificacion" />
            </div>
            <button type="submit" class="btn btn-success btn-sm">Validar Cedula de Identidad</button>
        </form>
        <hr />
    </div>
</div>

