@using Proyecto1API.Models;
@model Clinica
@{
    ViewData["Title"] = "Clinica";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        @ViewBag.Accion
    </div>
    <div class="card-body">
           
       <form asp-action="GuardarClinica" asp-controller="Home" method="post">
        <input asp-for="ClinicaId" type="hidden" />
            <div class="mb-2">
                <label class="form-label">Id Clinica</label>
                <input type="text" class="form-control form-control-sm" asp-for="ClinicaId" required />
            </div>
        <div class="mb-2">
            <label class="form-label">Cedula Juridica</label>
            <input type="text" class="form-control form-control-sm" asp-for="Cjuridica" required />
        </div>
        <div class="mb-2">
                <label class="form-label">Nombre</label>
                <input type="text" class="form-control form-control-sm" asp-for="Nombre" required />
        </div>
            <div class="mb-2">
                <label class="form-label">Pais</label>
                <input type="text" class="form-control form-control-sm" asp-for="Pais" required />
            </div>
            <div class="mb-2">
                <label class="form-label">Estado</label>
                <input type="text" class="form-control form-control-sm" asp-for="Estado" required />
            </div>
            <div class="mb-2">
                <label class="form-label">Distrito</label>
                <input type="text" class="form-control form-control-sm" asp-for="Distrito" required />
            </div>
            <div class="mb-2">
                <label class="form-label">Telefono</label>
                <input type="tel" class="form-control form-control-sm" asp-for="Telefono" required />
            </div>
            <div class="mb-2">
                <label class="form-label">Email</label>
                <input type="email" class="form-control form-control-sm" asp-for="Correo" required />
            </div>
            <div class="mb-2">
                <label class="form-label">SitioWeb</label>
                <input type="url" class="form-control form-control-sm" asp-for="SitioWeb" required />
            </div>

            <button type="submit" class="btn btn-success btn-sm"> Guardar Cambios</button>

            <a asp-action="Index" asp-controller="Home" class="btn btn-warning btn-sm">Volver atras</a>

       </form>
        <hr />

    </div>
</div>
