@using Proyecto1API.Models;
@model Medico
@{
    ViewData["Title"] = "Medico";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        @ViewBag.Accion
    </div>
    <div class="card-body">

        <form asp-action="GuardarMedico" asp-controller="Home" method="post">
            <input asp-for="MedicoId" type="hidden" />
            <div class="mb-2">
                <label class="form-label">Codigo Profesional</label>
                <input type="text" class="form-control form-control-sm" asp-for="Cprofesional" required />
            </div>
            <div class="mb-2">
                <label class="form-label">Identificacion</label>
                <input type="text" class="form-control form-control-sm" asp-for="Identificacion" required />
            </div>
            <div class="mb-2">
                <label class="form-label">Nombre</label>
                <input type="text" class="form-control form-control-sm" asp-for="Nombre" required />
            </div>
            <div class="mb-2">
                <label class="form-label">Primer Apellido</label>
                <input type="text" class="form-control form-control-sm" asp-for="Apellido1" required />
            </div>
            <div class="mb-2">
                <label class="form-label">Segundo Apellido</label>
                <input type="text" class="form-control form-control-sm" asp-for="Apellido2" required />
            </div>
            <div class="mb-2">
                <label class="form-label">Email</label>
                <input type="email" class="form-control form-control-sm" asp-for="Email" required />
            </div>
            <div class="mb-2">
                <label class="form-label">Pais</label>
                <input type="text" class="form-control form-control-sm" asp-for="Pais" required />
            </div>
            <div class="mb-2">
                <label class="form-label">Estado</label>
                <input type="text" class="form-control form-control-sm" asp-for="Estado" required />
            </div>

            <button type="submit" class="btn btn-success btn-sm"> Guardar Cambios</button>

            <a asp-action="HistorialFamiliar" asp-controller="Home" class="btn btn-warning btn-sm">Volver atras</a>

        </form>
        <hr />

    </div>
</div>
